<h1>koleksiyonu Düzenle</h1>

<%= form_for @collection do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Güncelle" %>
<% end %>

<%= content_for :action_links do %>
    <%= link_to("Bunu Sil", {:action => "destroy", :id => @collection},
                :confirm => "Silinsin Mi?",
                :method => :delete) %>
<% end %>