<style>
  /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #20777f
  }

</style>
<!DOCTYPE html>
<html>
<body>

<h2><%= h @collection.title %></h2>
<p><i><%= h @collection.description %></i></p>
<hr class="seperator"/>
<% for album in @albums %>
    <div class="row">
      <div class="title">
        <%= render :partial => "photos/thumb", :locals => {:photo => album.photos.first} unless album.photos.empty? %>
        <p><%= link_to album.title, collection_album_path(@collection, album) %></p>
      </div>
      <div class="image">
        <%= render :partial => "photos/thumb", :collection => album.photos.find(:all, :limit => 5, :offset => 1), :as => :photo %>
      </div>
    </div>
<% end %>

<%= content_for :action_links do %>

    <%= link_to "Düzenle", edit_collection_path(@collection) %> |
    <%= link_to "Yeni Albüm", new_collection_album_path(@collection) %>

<% end %>
</body>
</html>