<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
<style>
  /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);

  * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

  html { width: 100%; height:100%; overflow:hidden; }

  body {
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background: #0a4f46;
  }
  .login {
    position: absolute;
    top: 350px;
    left: 50%;
    margin: -150px 0 0 -150px;
    width:300px;
    height:50px;
  }
  .login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

  input {
    width: 100%;
    margin-bottom: 5px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
  }
  input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }
  .buttonStyle {
    width: 100%;
    margin-bottom: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  .buttonStyle:hover {
    background:darkgreen }
</style>

<body>

<div class="login">

<h1>Kayıt Ol</h1>


<%= form_for @user, :url => account_path do |f| %>
      <div style="color: #000000; text-align: center; font-kerning: auto"><%= f.error_messages %></div>
    <%= render :partial => "form", :object => f %>
      <div class="buttonStyle">
        <%= f.submit "Kayıt" %>
      </div>
<% end %>
  <%= form_for @user, :url => login_path do |f| %>
      <div class="buttonStyle">
        <%= f.submit "Giriş" %>
      </div>
  <% end %>
</div>

</body>
</html>