<style type="text/css">
  strong.bigyellow {
    font-family: Consolas;
    font-size: larger;
    color: #006600;
  }

</style>
<table>
  <tr>
    <td><b>Kullanıcı Adı:</b></td>
    <td><strong class="bigyellow"><%= h @user.name %></strong></td>
  </tr>
  <tr>
    <td><b>Email:</b></td>
    <td><strong class="bigyellow"> <%= h @user.email %></strong></td>
  </tr>
  <tr>
    <td><b>Giriş Sayısı:</b></td>
    <td><%= h @user.login_count %></td>
  </tr>
  <tr>
    <td><b>Son İstek:</b></td>
    <td><%= h @user.last_request_at %></td>
  </tr>
  <tr>
    <td><b>Son Giriş:</b></td>
    <td><%= h @user.last_login_at %></td>
  </tr>
  <tr>
    <td><b>Şimdiki Giriş:</b></td>
    <td><%= h @user.current_login_at %></td>
  </tr>
  <tr>
    <td><b>Son IP niz:</b></td>
    <td><%= h @user.last_login_ip %></td>
  </tr>
  <tr>
    <td><b>Şimdiki IP:</b></td>
    <td><%= h @user.current_login_ip %></td>
  </tr>
  <tr>
    <td><strong style="font-size:24px"><%= link_to 'Düzenle', edit_account_path %></strong></td>
    <td><strong style="font-size:24px"><%= link_to 'Çıkış Yap', logout_path %></strong></td>
  </tr>

</table>