<%= content_for :javascript do %>
    <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" -%>
    <%= javascript_include_tag "tag/tag" -%>
<% end %>

<div id="map_canvas"></div>

<%= hidden_field_tag :all_tags, "'#{Tag.find(:all).map { |tag| tag.title }.join('\',\'')}'" %>
<%= hidden_field_tag :collection_id, params[:collection_id] %>
<%= form.hidden_field :id %>
<%= form.hidden_field :latitude %>
<%= form.hidden_field :longitude %>

<%= form.label :title, :'Başlık', {:class => 'big'} %><br/>
<%= form.text_field :title, {:class => 'big'}, size:"30x1" %><br/>

<%= form.label :description, 'Açıklama' %><br/>
<%= form.text_area :description, size:"40x10"%><br/>

<%= form.label :tags,'Etiketler(Aralarına Boşluk Bırak)' %><br/>
<%= form.text_field :tags, {:autocomplete => "off", :class => 'tag_list', :value => (@album.tags.map { |tag| tag.title }.join(" ") unless @album.tags.nil?)} ,size:"30x1"%>
<br/>