<h1>Albüm Düzenle</h1>

<%= form_for @album do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Güncelle" %>
<% end %>


<%= content_for :action_links do %>


        <%= link_to("Albümü Sil", {:action => "destroy", :id => @album, :collection_id => params[:collection_id]},
                    :confirm => "Albüm Silinsin Mi??",
                    :method => :delete) %>

<% end %>
