<% for album in @albums %>
    <div class="row">
      <div class="title">
        <%= render :partial => "photos/thumb", :locals => {:photo => album.photos.first} unless album.photos.empty? %>
        <p><%= link_to album.title, album %></p>
      </div>
      <div class="image">
        <%= render :partial => "photos/thumb", :collection => album.photos.find(:all, :limit => 5, :offset => 1), :as => :photo %>
      </div>
    </div>
<% end %>

<%= content_for :action_links do %>
    <%= link_to "Sadece bu etiketteki fotolar #{params[:q]}", photos_path(:q => params[:q]) if params[:q] %>

        <%= " | " if params[:q] %>
        <%= link_to "Yeni Albüm", new_album_path() %>

<% end %>