<!DOCTYPE html>
<html>
<body>

<h2><%= @album.title %></h2>
<p><%= @album.description %></p>
<hr class="seperator"/>
<div id="multipleimages">
  <table>
    <% count = 0.0 %>
    <% for photo in @album.photos.find(:all, :order => "Id ASC") %>
        <% count += 1 %>
        <% if count == 1 || ((count-1) / 4.0 == ((count-1) / 4.0).to_i) %>
            <tr>
        <% end %>
        <td>
          <%= link_to image_tag(photo.file.preview.url), [@album.collections.first, @album, photo] %>
        </td>
        <% if count / 4.0 == (count / 4.0).to_i %>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>



<% unless @album.photo_tags.empty? %>
    <p>Etikleri:
      <% for tag in @album.photo_tags.map { |tag| tag.title }.sort %>
          <%= link_to tag, album_tag_photos_path(@album, tag) %>
      <% end %>
    </p>
<% end %>

<%= content_for :action_links do %>
    <% if params[:collection_id] %>
        <%= link_to "Albümü Düzenle", edit_collection_album_path(params[:collection_id], @album) %> |&nbsp;
        <%= link_to "Fotoğrafları Düzenle", edit_multiple_collection_album_photos_path(params[:collection_id], @album) %>
        |&nbsp;
        <%= link_to "Fotoğraf Ekle", upload_collection_album_photos_path(params[:collection_id], @album) %>
    <% else %>
        <%= link_to "Albümü Düzenle", edit_album_path(@album) %> |&nbsp;
        <%= link_to "Fotoğrafları Düzenle", edit_multiple_album_photos_path(@album) %> |&nbsp;
        <%= link_to "Fotoğraf Ekle", upload_album_photos_path(@album) %>
    <% end %>
<% end %>
</body>
</html>