<!DOCTYPE html>
<html>
<body>
<h1>Fotoğrafı Düzenle</h1>

<%= image_tag @photo.file.preview.url %>

<%= form_for @photo do |f| %>
    <%= hidden_field_tag :collection_id, params[:collection_id] %>
    <%= hidden_field_tag :album_id, params[:album_id] %>
    <%= f.error_messages %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Güncelle", :class=>'buttonStyle' %>
<% end %>

<%= content_for :action_links do %>
    <%= link_to("Bunu sil", {:action => "destroy", :id => @photo, :collection_id => params[:collection_id]},
                :confirm => "Silinsin Mi?",
                :method => :delete) %>
<% end %>
</body>
</html>