<%= form_for :photos, :url => update_multiple_photos_path, :html => {:method => :put} do |f| %>
    <table style="margin: 20">
      <tr>
        <td>Delete</td><!--<td>Photo</td>--><td>Title</td><td>Tags</td>
      </tr>
      <% for photo in @photos %>
          <tr>
            <%= f.fields_for photo, :index => photo.id do |p| %>
            <td><%= p.check_box :_delete %></td>
            <!--<td><%= render :partial => "photos/thumb", :locals => {:photo => photo} %></td>-->
            <td><%= p.text_field :title %></td>
            <td><%= p.text_field :tags, :value => photo.tag_list %></td>
            <% end %>
          </tr>
      <% end %>



    </table>

    <p><%= f.submit "Gönder" %></p>
<% end %>

<br/><%= link_to "Geri git #{@album.title}", @album %>