<div class="login">
  <h1>Giriş Yap</h1>

  <%= form_for @user_session, :url => authenticate_path do |f| %>
      <div style="color: #000000; text-align: center; font-kerning: auto"><%= f.error_messages %></div>
      <%= f.label :email %><br/>
      <%= f.text_field :email %><br/>
      <br/>
      <%= f.label :'Parola' %><br/>
      <%= f.password_field :password %><br/>
      <br/>
      <table>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= f.check_box :remember_me %></td>
          <td><%= f.label :'Beni Hatırla' %></td>
          <td></td>
          </td>
          <td></td>
        </tr>

      </table>

        <%= f.submit "Giriş Yap", :class => 'buttonStyle' %>
        <input type="button" class="buttonStyle" value="Kaydol" onclick="window.location.href='account/new'">



  <% end %>

</div>