<h1>Giriş Yap</h1>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">

<%= form_for @user_session, :url => authenticate_path do |f| %>
    <section>
      <span></span>
      <h1>Üye Girişi</h1>
      <form>
        <%= f.error_messages %>
        <%= f.label :email %><br/>
        <%= f.text_field :email %><br/>
        <%= f.label :password %><br/>
        <%= f.password_field :password %><br/>
      </form>
      <%= f.submit "Giriş Yap" %>
      <h2>
        <%= f.check_box :remember_me,'Beni Hatırla' %><%= f.label :remember_me %><br/>
      </h2>
    </section>
<% end %>