<!DOCTYPE html>
<html lang="en">
<style type="text/css">

  lr{
    font-size: larger;
    color: red;
  }
  b{
    color: darkblue;
  }

</style>


<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>
    <% if current_user %>
        <%= current_user.name %> Galerisi
    <% else %>
        Photo Gallery
    <% end %>
  </title>
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1.0">

  <%= yield :head %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>

</head>
<body>
<div align="center">
  <%= link_to image_tag('/up.JPG',align: 'middle',width:'1000px', height: '150px'), root_path %>

</div>
<div id="container">


    <% if current_user %>
        <%= breadcrumbs %>
    <% end %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% if current_user %>

      <a class="lr"><%= link_to "Çıkış Yap", logout_path %></a>
  <% end %>



    &nbsp;
    <%= yield :action_links %>
    &nbsp;
    <%= yield %>



</div>

<%= javascript_include_tag 'jquery-1.4.2.js', 'rails', 'ozer' %>
<%= yield :javascript %>


</body>
</html>
